<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="css/style.css"/>
    </head>
    <body> 
        {{>header}}
        <p>use this site to get your weather!</p>
        <form>
            <input type="text" placeholder="loction">
            <button>Submit</button>
        </form>
        <p class="error" id="error"></p>
        <p class="message" id="message"></p>
        <script src="js/app.js"></script>
    </body>
</html>